<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/front/fragment/header :: head"></head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!--<div class="position-fixed w-100 bg-white" style="z-index:999">-->
<div class="w-100 bg-white" style="z-index:999">
    <div th:replace="/front/fragment/header-mobile-menu :: header-mobile-menu"></div>

    <!-- Header Section Begin -->
    <div th:replace="/front/fragment/header-menu :: header-menu"></div>
    <!-- Header Section End -->

    <!-- 공통 상단 메뉴 -->
    <div th:replace="/front/fragment/common :: gnb-top-menu"></div>
</div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/front/img/breadcrumb.jpg"
         style="background-image: url(&quot;img/breadcrumb.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Event & Deal Shop</h2>
                    <div class="breadcrumb__option">
                        <a th:href="@{/static}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-2.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-3.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Visit the clean farm in the US</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-1.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-2.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-3.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">The Moment You Need To Remove Garlic From The Menu</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-4.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-4.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-5.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-1.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-1.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-2.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img th:src="@{/front/img/blog/blog-3.jpg}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a th:href="@{/shop/event/detail}" class="blog__btn">READ MORE <span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<footer th:replace="/front/fragment/footer :: footer"></footer>
</body>

</html>