<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="gnb-top-menu">
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <!-- https://m-emart.ssg.com/disp/category.ssg?dispCtgId=6000095503 -->
                            <li><a href="#">과일/채소</a></li>
                            <li><a href="#">정육/계란</a></li>
                            <li><a href="#">과자/빙과</a></li>
                            <li><a href="#">우유/유제품</a></li>
                            <li><a href="#">수산/건해산</a></li>
                            <li><a href="#">쌀/잡곡</a></li>
                            <li><a href="#">생수/음료/커피/차</a></li>
                            <li><a href="#">장/양념/오일</a></li>
                            <li><a href="#">밀키트/간편식</a></li>
                            <li><a href="#">면류/통조림</a></li>
                            <li><a href="#">김치/반찬/델리</a></li>
                            <li><a href="#">베이커리/잼</a></li>
                            <li><a href="#">손질/소포장</a></li>
                            <li><a href="#">세탁/청소/욕실용품</a></li>
                            <li><a href="#">제지/위생용품</a></li>
                            <li><a href="#">반려동물</a></li>
                            <li><a href="#">주방/일회용품</a></li>
                            <li><a href="#">문구/취미용품</a></li>
                            <li><a href="#">뷰티/리빙/건강식품</a></li>
                            <li><a href="#">유아동/출산/완구</a></li>
                            <li><a href="#">가전제품</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
</div>
</html>