<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/front/fragment/header :: head"></head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!--<div class="position-fixed w-100 bg-white" style="z-index:999">-->
<div class="w-100 bg-white" style="z-index:999">
    <div th:replace="/front/fragment/header-mobile-menu :: header-mobile-menu"></div>

    <!-- Header Section Begin -->
    <div th:replace="/front/fragment/header-menu :: header-menu"></div>
    <!-- Header Section End -->

    <!-- 공통 상단 메뉴 -->
    <div th:replace="/front/fragment/common :: gnb-top-menu"></div>
</div>

<!-- Header Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4 class="text-center">회원가입</h4>
            <form th:action="@{/auth/signup}" method="post">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__input">
                            <p>이메일<span>*</span><span class="pl-2 text-danger small">입력하신 이메일로 인증코드가 발송됩니다.</span></p>
                            <input type="email" name="email">
                        </div>
                        <div class="checkout__input">
                            <p>비밀번호<span>*</span></p>
                            <input type="text" name="password">
                        </div>
                        <div class="checkout__input">
                            <p>비밀번호 확인<span>*</span></p>
                            <input type="text" name="rePassword">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- start -->
                        <!-- end -->
                        <div class="checkout__order">
                            <h4>필수 약관 동의</h4>
                            <div class="checkout__input__checkbox">
                                <label for="acc-or">
                                    이용약관에 모두 동의합니다.
                                    <input type="checkbox" id="acc-or">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <label for="agreePrivacy">
                                        이용약관(필수)
                                        <input type="checkbox" id="agreePrivacy" name="agreePrivacy" th:value="true">
                                        <span class="checkmark"></span>
                                    </label>

                                    <a href="#" class="btn bg-dark text-white" data-toggle="collapse"
                                       th:href="@{#collapseExample}" aria-expanded="false"
                                       aria-controls="collapseExample">약관보기</a>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <div class="well w-100 bg-white overflow-auto p-3" style="height: 200px;">
                                            <pre>
제 1조 [목적]
본 약관은 대성학원 본원(이하 “회사”라 합니다.)이 운영하는 인터넷사이트(이하 “사이트”라 합니다.)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 합니다.)를 이용함에 있어, 서비스 이용조건과 절차 및 기타 필요한 사항을 규정합니다.

제 2조[용어의 정의]
본 약관에서 사용하는 용어의 정의는 다음과 같습니다.

                                            </pre>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input__checkbox">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <label for="agreeService">
                                        개인정보 수집 및 이용(필수)
                                        <input type="checkbox" id="agreeService" name="agreeService" th:value="true">
                                        <span class="checkmark"></span>
                                    </label>
                                    <a class="btn bg-dark text-white" data-toggle="collapse"
                                       th:href="@{#collapseExample2}" aria-expanded="false"
                                       aria-controls="collapseExample">
                                        약관보기
                                    </a>
                                </div>
                                <div class="collapse" id="collapseExample2">
                                    <div class="well w-100 bg-white overflow-auto p-3" style="height: 200px;">
                                            <pre>
제 1조 [목적]
본 약관은 대성학원 본원(이하 “회사”라 합니다.)이 운영하는 인터넷사이트(이하 “사이트”라 합니다.)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 합니다.)를 이용함에 있어, 서비스 이용조건과 절차 및 기타 필요한 사항을 규정합니다.

제 2조[용어의 정의]
본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
                                            </pre>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="site-btn">회원 가입하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
<footer th:replace="/front/fragment/footer :: footer"></footer>


</body>

</html>