<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/admin/assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/admin/fragment/adminHeader :: adminHeader"></head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    <aside th:replace="/admin/fragment/adminLeftMenu :: adminLeftMenu"></aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar"
      >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
              <i class="bx bx-search fs-4 lh-0"></i>
              <input
                      type="text"
                      class="form-control border-0 shadow-none"
                      placeholder="Search..."
                      aria-label="Search..."
              />
            </div>
          </div>
          <!-- /Search -->

          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
              <a
                      class="github-button"
                      href="https://github.com/themeselection/sneat-html-admin-template-free"
                      data-icon="octicon-star"
                      data-size="large"
                      data-show-count="true"
                      aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
              >Star</a
              >
            </li>

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                  <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">John Doe</span>
                        <small class="text-muted">Admin</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-cog me-2"></i>
                    <span class="align-middle">Settings</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="auth-login-basic.html">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>

      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">주문/결제 관리 /</span> 주문 관리</h4>

          <!-- Hoverable Table rows -->
          <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
              <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="mb-0">구매자 장보</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">구매자 이름</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">구매자 전화번호</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">구매자 메일</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Table Search End -->
          </div>
          <!--/ Hoverable Table rows -->
          <!-- Hoverable Table rows -->
          <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
              <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="mb-0">받는분 정보</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">받는분 이름</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">받는분 연락처</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">배송 예약 시간</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" placeholder="저녁8시 40분에 받고 싶어요">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">시/도</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">구/군</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">동</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">아파트명</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">상세주소(동/호수)</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">기타 요청사항</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
              <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="mb-0">마트 관리자 메모</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">관리자 메모</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" readonly>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
              <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="mb-0">배송 정보</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">주문상태</label>
                      <div class="col-sm-10">
                        <select id="selectTypeOpt" class="form-select color-dropdown">
                          <option value="bg-primary" selected="">주문완료</option>
                          <option value="bg-secondary">배송중</option>
                          <option value="bg-success">배송완료</option>
                          <option value="bg-danger">환불요청</option>
                          <option value="bg-warning">환불완료</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 d-flex align-items-center" for="selectTypeOpt">구매자에게 메모</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="accountId" placeholder="원하는 시간에 배송이 가능합니다.">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Table Search End -->
          <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
              <div class="card mb-4">
                <h5 class="card-header">주문 상세 정보</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th class="text-center">마트명</th>
                      <th class="text-center">상품명</th>
                      <th class="text-center">수량</th>
                      <th class="text-center">가격</th>
                      <th class="text-center">옵션가격</th>
                      <th class="text-center">총 주문금액</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    <tr>
                      <td><a th:href="@{/admin/account/orderDetail}"><span
                              class="badge bg-label-primary me-1 text-lowercase">A 마트 수완점</span></a></td>
                      <td>애호박</td>
                      <td>1개</td>
                      <td>1,500원</td>
                      <td>0원</td>
                      <td>1,500원</td>
                    </tr>
                    <tr>
                      <td><a th:href="@{/admin/account/orderDetail}"><span
                              class="badge bg-label-primary me-1 text-lowercase">A 마트 수완점</span></a></td>
                      <td>애호박</td>
                      <td>1개</td>
                      <td>1,500원</td>
                      <td>0원</td>
                      <td>1,500원</td>
                    </tr>
                    <tr>
                      <td><a th:href="@{/admin/account/orderDetail}"><span
                              class="badge bg-label-primary me-1 text-lowercase">A 마트 수완점</span></a></td>
                      <td>애호박</td>
                      <td>1개</td>
                      <td>1,500원</td>
                      <td>0원</td>
                      <td>1,500원</td>
                    </tr>
                    <tr>
                      <td><a th:href="@{/admin/account/orderDetail}"><span
                              class="badge bg-label-primary me-1 text-lowercase">A 마트 수완점</span></a></td>
                      <td>애호박</td>
                      <td>1개</td>
                      <td>1,500원</td>
                      <td>0원</td>
                      <td>1,500원</td>
                    </tr>
                    <tr>
                      <td><a th:href="@{/admin/account/orderDetail}"><span
                              class="badge bg-label-primary me-1 text-lowercase">A 마트 수완점</span></a></td>
                      <td>애호박</td>
                      <td>1개</td>
                      <td>1,500원</td>
                      <td>0원</td>
                      <td>1,500원</td>
                    </tr>
                    <tr>
                      <td><a th:href="@{/admin/account/orderDetail}"><span
                              class="badge bg-label-primary me-1 text-lowercase">A 마트 수완점</span></a></td>
                      <td>애호박</td>
                      <td>1개</td>
                      <td>1,500원</td>
                      <td>0원</td>
                      <td>1,500원</td>
                    </tr>
                    <tr>
                      <td><a th:href="@{/admin/account/orderDetail}"><span
                              class="badge bg-label-primary me-1 text-lowercase">A 마트 수완점</span></a></td>
                      <td>애호박</td>
                      <td>1개</td>
                      <td>1,500원</td>
                      <td>0원</td>
                      <td>1,500원</td>
                    </tr>
                    <tr>
                      <td><a th:href="@{/admin/account/orderDetail}"><span
                              class="badge bg-label-primary me-1 text-lowercase">A 마트 수완점</span></a></td>
                      <td>애호박</td>
                      <td>1개</td>
                      <td>1,500원</td>
                      <td>0원</td>
                      <td>1,500원</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="demo-inline-spacing">
                  <!-- Basic Pagination -->
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                      <li class="page-item first">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
                      </li>
                      <li class="page-item prev">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">2</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="javascript:void(0);">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">4</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">5</a>
                      </li>
                      <li class="page-item next">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
                      </li>
                      <li class="page-item last">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
                      </li>
                    </ul>
                  </nav>
                  <!--/ Basic Pagination -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Content -->

        <!-- Footer -->
        <div th:replace="/admin/fragment/adminFooterMenu :: adminFooterMenu"></div>
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div th:replace="/admin/fragment/adminFooter :: adminFooter"></div>
</body>
</html>
